<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>StoreApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
</head>
<body class="grey lighten-5">
	
	<div class="row"></div>

	<div class="row container">
		<a href="/" class="waves-effect waves-light btn">
			<i class="material-icons left">menu</i>
			Menu
		</a>
	</div>
	
	<div class="row container">
		<div th:if="${mensagem != '' && mensagem != null}">
			<div class="card green lighten-3 col s6 input-field center offset-s3 z-depth-3">
				<span th:utext="${mensagem}"></span>
			</div>
		</div>
		
		<div th:if="${mensagemErro != '' && mensagemErro != null}">
			<div class="card red lighten-3 col s6 input-field center offset-s3 z-depth-3">
				<span th:utext="${mensagemErro}"></span>
			</div>
		</div>
	</div>
	
	<div class="row container">
		<div class="card-panel blue lighten-2 white-text z-depth-3">
			<h4>Cadastro de vestuário</h4>
		</div>
	</div>
	
	<div class="row container white">
	
		<form method="post">
		
				<div class="input-field col s12">
					<div class="input-field col s12">
						<input type="text" id="nome" value="" name="nome" required="required" autofocus="autofocus" autocomplete="off">
						<label for="nome">Nome</label>
		      		</div>
				</div>
			
				<div class="col s6">
					<div class="col s12">
						<label for="tamanho">Tamanho</label>
						<select id="tamanho" name="tamanho" class="browser-default" required="required">
							<option value="" disabled selected>Escolha sua opção</option>
							<option th:each="enumTamanho : ${T(com.storeapp.StoreApp.enums.EnumTamanhoVestuario).values()}" 
									th:value="${enumTamanho}" th:text="${enumTamanho.getTamanhoCode()}"></option>
						</select>
					</div>
				</div>
				
				<div class="col s6">
					<div class="col s12">
						<label for="cor" class="">Cor</label>
						<select id="cor" name="cor" class="browser-default s6" required="required">
							<option value="" disabled selected>Escolha sua opção</option>
							<option th:each="enumCor : ${T(com.storeapp.StoreApp.enums.EnumCorVestuario).values()}" 
									th:value="${enumCor}" th:text="${enumCor.getCorCode()}"></option>
						</select>
		      		</div>
				</div>
			
				<div class="col s12">
					<div class="input-field col s12">
						<input type="text" id="tipo" value="" name="tipo" autocomplete="off">
						<label for="tipo">Tipo</label>
		      		</div>
				</div>
			
				<div class="input-field col s12">
					<button type="submit" class="waves-effect waves-light btn right">Salvar</button>
				</div>
				
			<script type="text/javascript" src="js/materialize.min.js"></script>
		</form>
		
	</div>
</body>
</html>