<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>StoreApp</title>
</head>
<body>

	<H1>Cadastro de vestuário</H1>
	
	<form method="post">
	
		Nome: <input type="text" value="" name="nome" required="required">
		Tamanho: <input type="text" value="" name="tamanho" required="required">
		Cor: <input type="text" value="" name="cor" required="required">
		Tipo: <input type="text" value="" name="tipo">
	
		<button type="submit">Salvar</button>
	</form>
</body>
</html>