<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>StoreApp</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey lighten-5">

	<div class="row"></div>

	<div class="row container">
		<a href="/" class="waves-effect waves-light btn">
			<i class="material-icons left">menu</i>
			Menu
		</a>
	</div>
	
	<div class="row container">
		<div class="card-panel blue lighten-2 white-text z-depth-3">
			<h4>Lista Vestuários</h4>
		</div>
	</div>

	<div class="row container">
		<table class="white">
			<thead class="blue lighten-5">
				<tr>
					<th>Nome</th>
					<th>Tamanho</th>
					<th>Cor</th>
					<th>Tipo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vestuario : ${vestuarios}">
					<td><span th:text="${vestuario.nome}"></span></td>
					<td><span th:text="${vestuario.tamanho}"></span></td>
					<td><span th:text="${vestuario.cor}"></span></td>
					<td><span th:text="${vestuario.tipo}"></span></td>
					<td class="center">
						<a th:href="${(#mvc.url('VC#editarVestuario').arg(0, vestuario.codigo)).build()}" class="orange-text text-darken-1" title="editar">
							<i class="material-icons">edit</i>
						</a>
						<a th:href="${(#mvc.url('VC#excluirVestuario').arg(0, vestuario.codigo)).build()}" class="red-text text-darken-1" title="excluir">
							<i class="material-icons">delete</i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script type="text/javascript" src="js/materialize.min.js"></script>
	
</body>
</html>